{% extends "base.html" %}

{% block title %}Page Not Found - Portfolio Manager{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-8">
        <div class="box has-text-centered p-6">
            <h1 class="title is-1 has-text-grey-light">404</h1>
            <div class="level mb-6">
                <div class="level-item">
                    <figure class="image is-128x128">
                        <img src="{{ url_for('static', filename='img/lost.svg') }}" alt="Page not found">
                    </figure>
                </div>
            </div>
            <h2 class="title is-3">Page Not Found</h2>
            <p class="subtitle is-5 mb-5">The page you're looking for doesn't exist or has been moved.</p>
            
            <div class="buttons is-centered">
                <a href="{{ url_for('main.index') }}" class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Go Home</span>
                </a>
                <button class="button is-light" onclick="window.history.back();">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Go Back</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}