{% extends "base.html" %}

{% block title %}Server Error - Portfolio Manager{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-8">
        <div class="box has-text-centered p-6">
            <h1 class="title is-1 has-text-danger-light">500</h1>
            <div class="level mb-6">
                <div class="level-item">
                    <figure class="image is-128x128">
                        <img src="{{ url_for('static', filename='img/error.svg') }}" alt="Server error">
                    </figure>
                </div>
            </div>
            <h2 class="title is-3">Internal Server Error</h2>
            <p class="subtitle is-5 mb-5">Something went wrong on our end. Our team has been notified of the issue.</p>
            
            <div class="notification is-warning is-light">
                <p>If you were in the middle of entering or updating data, don't worry - we've automatically backed up the database before making changes.</p>
            </div>
            
            <div class="buttons is-centered mt-5">
                <a href="{{ url_for('main.index') }}" class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Go Home</span>
                </a>
                <button class="button is-light" onclick="window.location.reload();">
                    <span class="icon">
                        <i class="fas fa-sync"></i>
                    </span>
                    <span>Try Again</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}