<footer class="footer has-background-white-ter pt-4 pb-4">
    <div class="content has-text-centered">
        <p>
            <strong>Portfolio Rebalancer</strong> by
            <a href="https://github.com/icon3333" target="_blank">icon3333</a>
            <span class="mx-2">|</span>
            <a href="https://github.com/icon3333/portfolio_rebalancer" target="_blank">
                <span class="icon is-small"><i class="fab fa-github"></i></span>
                <span>Source</span>
            </a>
        </p>
        <p class="is-size-7 has-text-grey mt-2">
            Built with <a href="https://flask.palletsprojects.com/" target="_blank">Flask</a>,
            <a href="https://bulma.io/" target="_blank">Bulma</a>,
            <a href="https://vuejs.org/" target="_blank">Vue.js</a>, and
            <a href="https://plotly.com/javascript/" target="_blank">Plotly.js</a>
            <span class="mx-2">•</span>
            v0.9 &copy; {{ now.year }}
        </p>
    </div>
</footer>