<aside class="menu p-4" style="border-right: 1px solid var(--border-color);">
    {% if session.account_id %}
    <p class="menu-label">
        Portfolios
    </p>
    <ul class="menu-list">
        <li>
            <a href="{{ url_for('portfolio.enrich') }}" class="{{ 'is-active' if request.endpoint == 'portfolio.enrich' }}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-gem"></i>
                    </span>
                    <span>Enrich</span>
                </span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('portfolio.analyse') }}" class="{{ 'is-active' if request.endpoint == 'portfolio.analyse' }}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span>Analyse</span>
                </span>
            </a>
        </li>
    </ul>
    
    <p class="menu-label mt-5">
        Allocation
    </p>
    <ul class="menu-list">
        <li>
            <a href="{{ url_for('portfolio.build') }}" {% if request.endpoint == 'portfolio.build' %}class="is-active"{% endif %}>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-cubes"></i>
                    </span>
                    <span>Builder</span>
                </span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('portfolio.allocate') }}" class="{{ 'is-active' if request.endpoint == 'portfolio.allocate' }}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-balance-scale"></i>
                    </span>
                    <span> Rebalancer</span>
                </span>
            </a>
        </li>
    </ul>
    {% else %}
    {% endif %}
</aside>